<div class="how-it-works page-width">
  <h2>How It Works</h2>
  <p>Buy a deal, receive upgrades mixed in!</p>

  <div class="how-it-works-grid">
    <div class="how-it-works-card">
      <div class="how-it-works-icon">
        <img
          src="https://cdn.shopify.com/s/files/1/0661/5164/5373/files/how1.svg"
          alt="browse-icon"
          width="100%"
          height="100%"
        >
      </div>
      <h3 class="how-it-works-header">Browse Daily Deals</h3>
      <p class="how-it-works-description">
        Explore our expert-curated daily wine deals featuring a mix of well known, high-end wineries from Napa Valley,
        France, and around the world.
      </p>
    </div>

    <div class="how-it-works-card">
      <div class="how-it-works-icon">
        <img
          src="https://cdn.shopify.com/s/files/1/0661/5164/5373/files/how2.svg"
          alt="upgrade-icon"
          width="100%"
          height="100%"
        >
      </div>
      <h3 class="how-it-works-header">Get Upgraded</h3>
      <p class="how-it-works-description">
        Buy a deal and receive at least the value you paid, but get excited…immediately after checkout, your bottles are
        randomly chosen and the upgrades you scored are revealed!
      </p>
    </div>

    <div class="how-it-works-card">
      <div class="how-it-works-icon">
        <img
          src="https://cdn.shopify.com/s/files/1/0661/5164/5373/files/how3.svg"
          alt="drink-icon"
          width="100%"
          height="100%"
        >
      </div>
      <h3 class="how-it-works-header">Drink Delicious Wine</h3>
      <p class="how-it-works-description">
        Bottles are immediately shipped to your door and your friends are immediately impressed.
      </p>
    </div>
  </div>
</div>
