.outer-div {
  padding-top: 3rem;
}
.styled-grid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.grid-item {
  /* flex: 1; */
}
.title-side-div {
  padding: 25px 0;
  max-width: 650px;
}
.typography-h1 {
  color: #e5e5e5;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
.button-gold {
  width: 177px !important;
  margin: 0 !important;
}
.white {
  color: white !important;
}
.typography-sub1 {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}
.bottle-side-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 100%;
}
.bottle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 27px;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  height: 380px;
  transition: all 1s ease-in-out;
}
.img-div {
  width: 93px;
  height: 280px;
  margin: 1rem 0;
}
.img-div img {
  width: 93px;
  height: 280px;
}
.bottle-hero-price {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #100f15;
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
}
.price-bottom {
  position: absolute;
  width: 100%;
  top: 10px;
}
.value-label {
  position: absolute;
  width: 100%;
  bottom: 25px;
  font-size: 12px !important;
}
.title-price-enter {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
.title-price-enter-active {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.title-price-exit {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.title-price-exit-active {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
.current-enter {
  transform: translateX(0%);
  transition: transform .5s ease-in-out;
}
.current-enter-active {
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}
.current-exit-active {
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}
.current-exit {
  transform: translateX(150%);
  transition: transform .5s ease-in-out;
}

@media (max-width: 992px) {
  .typography-h1 {
    font-size: 30px;
    line-height: 40px;
    padding-right: 24px;
  }
  .bottle-title {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .typography-h1 {
    font-size: 25px;
    line-height: 35px;
    padding-right: 12px;
  }
  .bottle-title {
    font-size: 13px;
    line-height: 21px;
  }
}

@media (max-width: 576px) {
  .outer-div {
    padding-top: unset;
  }
  .styled-grid-container {
    flex-direction: column;
    align-items: center;
  }
  .typography-h1 {
    padding-right: unset;
  }
  .bottle-side-div {
    transform: scale(.9);
  }
  .button-gold {
    margin: 0 auto !important;
  }
  .title-side-div {
    text-align: center;
  }
}