.promotional-offer-container {
  position: relative;
  overflow: hidden;
  height: 120px;
}

.offer-ticker {
  font-size: 24px;
}

.offer-bottles,
.offer-detail-bottles,
.offer-list-bottles {
  height: 120px;
  background-color: #23212d;
  position: relative;
  overflow: hidden;
}

.buy-in {
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.buy-in span {
  font-weight: bold;
}

.offer-item {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 120px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.offer-item img,
.offer-item .image-frame {
  width: 120px;
  height: 120px;
}

.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 120px;
  width: 120px;
  color: white;
  padding: 12px;
  line-height: 11px;
}

.no-image span {
  font-size: 12px;
  text-align: center;
  width: 120px;
}

.offer-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 12px;
  line-height: 16px;
  position: relative;
  top: 1px;
}

.hidden-item {
  transform: translateY(0%);
}

.active-item {
  transform: translateY(-100%);
}

.offer-price {
  font-weight: bold;
  top: 3px;
  position: relative;
}

.offer-value {
  font-size: 12px;
  top: 6px;
  position: relative;
}

.offer-title {
  border-left: solid 1px #4a4a4a;
  height: 120px;
  display: block;
  padding: 12px 24px;
  overflow: hidden;
}

.offer-title span {
  font-size: 16px;
  line-height: 2rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.detail-price,
.detail-chance {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  height: 120px;
  min-width: 100px;
  width: 100%; /* Ensure full width if needed */
  opacity: 0; /* Start elements as invisible */
  visibility: hidden; /* Start elements as not visible */
}

.hidden-detail {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.visible-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: normal;
  position: relative;
  opacity: 1;
  visibility: visible;
}

/* .ticker-desktop {
  display: flex;
}
.ticker-mobile {
  display: none;
} */

@media (max-width: 992px) and (min-width: 576px) {
  .promotional-offer-container {
    height: 80px;
  }
  .offer-bottles,
  .offer-detail-bottles,
  .offer-list-bottles {
    height: 80px;
  }
  .offer-item {
    height: 80px;
  }
  .offer-item img,
  .offer-item .image-frame {
    width: 80px;
    height: 80px;
  }
  .no-image {
    height: 80px;
    width: 80px;
  }
  .no-image span {
    font-size: 10px;
    width: 80px;
  }
  .offer-value {
    font-size: 10px;
    top: 1px;
  }
  .offer-title {
    height: 80px;
    padding: 12px 18px;
  }
  .offer-title span {
    font-size: 14px;
    line-height: 1.5rem;
  }
  .offer-ticker {
    font-size: 18px;
  }
  .detail-price,
  .detail-chance {
    height: 80px;
    min-width: 90px;
  }
}

@media (max-width: 768px and min-width: 750px), (max-width: 576px) {
  .promotional-offer-container {
    height: 50px;
  }
  .offer-bottles,
  .offer-detail-bottles,
  .offer-list-bottles {
    height: 50px;
  }
  .offer-item {
    height: 50px;
  }
  .offer-item img,
  .offer-item .image-frame {
    width: 50px;
    height: 50px;
  }
  .no-image {
    height: 50px;
    width: 50px;
  }
  .no-image span {
    font-size: 8px;
    width: 50px;
  }
  .offer-value {
    font-size: 9px;
    top: -1px;
  }
  .offer-title {
    height: 50px;
    padding: 12px;
  }
  .offer-title span {
    font-size: 12px;
    line-height: 1.3rem;
  }
  .offer-ticker {
    font-size: 14px;
  }
  .detail-price,
  .detail-chance {
    height: 50px;
    min-width: 50px;
  }
}