.pyro > .before,
.pyro > .after {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
	-moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
	-moz-animation-delay: 1.25s, 1.25s, 1.25s;
	-webkit-animation-delay: 1.25s, 1.25s, 1.25s;
	-o-animation-delay: 1.25s, 1.25s, 1.25s;
	-ms-animation-delay: 1.25s, 1.25s, 1.25s;
	animation-delay: 1.25s, 1.25s, 1.25s;
	-moz-animation-duration: 1.25s, 1.25s, 6.25s;
	-webkit-animation-duration: 1.25s, 1.25s, 6.25s;
	-o-animation-duration: 1.25s, 1.25s, 6.25s;
	-ms-animation-duration: 1.25s, 1.25s, 6.25s;
	animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {

	to {
		box-shadow: -72px -241.66667px #00ff09, -52px -310.66667px #4400ff, 231px 51.33333px #00e1ff, -79px -357.66667px #ff00ee, 9px 27.33333px #ff0037, -45px -386.66667px #0037ff, 32px -95.66667px #ff6f00, 67px -330.66667px #2f00ff, -187px 42.33333px #00ffa2, 245px 62.33333px #1e00ff, -198px -320.66667px #1a00ff, -111px -18.66667px #aa00ff, 214px -186.66667px #00ff95, 113px -187.66667px #00e1ff, -114px -38.66667px #ccff00, -34px -73.66667px #9dff00, -76px -92.66667px #00ff95, 117px -401.66667px #00ff15, -82px -142.66667px #00f2ff, 164px -227.66667px #00ff26, 6px -10.66667px #00ff5e, -84px -226.66667px #0051ff, 10px -398.66667px #00fffb, -240px -137.66667px #ff0088, 66px -361.66667px #ff8000, -90px -165.66667px #fb00ff, 158px -406.66667px #ff0400, -23px -23.66667px #3700ff, -210px -157.66667px #ff9d00, -41px -169.66667px #ffc400, -149px -47.66667px #001eff, -213px -403.66667px #ffcc00, -30px 55.33333px #f7ff00, 139px -345.66667px #00d0ff, -32px -136.66667px #ff004d, 66px -301.66667px #ae00ff, 188px -98.66667px #ff1500, 148px -157.66667px #00ff15, 216px -318.66667px #9500ff, 237px -97.66667px #1aff00, 10px -312.66667px #00ffd9, 175px -272.66667px #ee00ff, -168px -180.66667px #ff5900, -179px -233.66667px #00ff4d, 101px -390.66667px #88ff00, 236px -78.66667px #6a00ff, 201px -106.66667px #00ffc4, -132px -68.66667px #ff00e1, -98px -158.66667px #ffd900, 207px -253.66667px #00ffae, 148px -156.66667px #ffa600;
	}
}

@-moz-keyframes bang {

	to {
		box-shadow: -72px -241.66667px #00ff09, -52px -310.66667px #4400ff, 231px 51.33333px #00e1ff, -79px -357.66667px #ff00ee, 9px 27.33333px #ff0037, -45px -386.66667px #0037ff, 32px -95.66667px #ff6f00, 67px -330.66667px #2f00ff, -187px 42.33333px #00ffa2, 245px 62.33333px #1e00ff, -198px -320.66667px #1a00ff, -111px -18.66667px #aa00ff, 214px -186.66667px #00ff95, 113px -187.66667px #00e1ff, -114px -38.66667px #ccff00, -34px -73.66667px #9dff00, -76px -92.66667px #00ff95, 117px -401.66667px #00ff15, -82px -142.66667px #00f2ff, 164px -227.66667px #00ff26, 6px -10.66667px #00ff5e, -84px -226.66667px #0051ff, 10px -398.66667px #00fffb, -240px -137.66667px #ff0088, 66px -361.66667px #ff8000, -90px -165.66667px #fb00ff, 158px -406.66667px #ff0400, -23px -23.66667px #3700ff, -210px -157.66667px #ff9d00, -41px -169.66667px #ffc400, -149px -47.66667px #001eff, -213px -403.66667px #ffcc00, -30px 55.33333px #f7ff00, 139px -345.66667px #00d0ff, -32px -136.66667px #ff004d, 66px -301.66667px #ae00ff, 188px -98.66667px #ff1500, 148px -157.66667px #00ff15, 216px -318.66667px #9500ff, 237px -97.66667px #1aff00, 10px -312.66667px #00ffd9, 175px -272.66667px #ee00ff, -168px -180.66667px #ff5900, -179px -233.66667px #00ff4d, 101px -390.66667px #88ff00, 236px -78.66667px #6a00ff, 201px -106.66667px #00ffc4, -132px -68.66667px #ff00e1, -98px -158.66667px #ffd900, 207px -253.66667px #00ffae, 148px -156.66667px #ffa600;
	}
}

@-o-keyframes bang {

	to {
		box-shadow: -72px -241.66667px #00ff09, -52px -310.66667px #4400ff, 231px 51.33333px #00e1ff, -79px -357.66667px #ff00ee, 9px 27.33333px #ff0037, -45px -386.66667px #0037ff, 32px -95.66667px #ff6f00, 67px -330.66667px #2f00ff, -187px 42.33333px #00ffa2, 245px 62.33333px #1e00ff, -198px -320.66667px #1a00ff, -111px -18.66667px #aa00ff, 214px -186.66667px #00ff95, 113px -187.66667px #00e1ff, -114px -38.66667px #ccff00, -34px -73.66667px #9dff00, -76px -92.66667px #00ff95, 117px -401.66667px #00ff15, -82px -142.66667px #00f2ff, 164px -227.66667px #00ff26, 6px -10.66667px #00ff5e, -84px -226.66667px #0051ff, 10px -398.66667px #00fffb, -240px -137.66667px #ff0088, 66px -361.66667px #ff8000, -90px -165.66667px #fb00ff, 158px -406.66667px #ff0400, -23px -23.66667px #3700ff, -210px -157.66667px #ff9d00, -41px -169.66667px #ffc400, -149px -47.66667px #001eff, -213px -403.66667px #ffcc00, -30px 55.33333px #f7ff00, 139px -345.66667px #00d0ff, -32px -136.66667px #ff004d, 66px -301.66667px #ae00ff, 188px -98.66667px #ff1500, 148px -157.66667px #00ff15, 216px -318.66667px #9500ff, 237px -97.66667px #1aff00, 10px -312.66667px #00ffd9, 175px -272.66667px #ee00ff, -168px -180.66667px #ff5900, -179px -233.66667px #00ff4d, 101px -390.66667px #88ff00, 236px -78.66667px #6a00ff, 201px -106.66667px #00ffc4, -132px -68.66667px #ff00e1, -98px -158.66667px #ffd900, 207px -253.66667px #00ffae, 148px -156.66667px #ffa600;
	}
}

@-ms-keyframes bang {

	to {
		box-shadow: -72px -241.66667px #00ff09, -52px -310.66667px #4400ff, 231px 51.33333px #00e1ff, -79px -357.66667px #ff00ee, 9px 27.33333px #ff0037, -45px -386.66667px #0037ff, 32px -95.66667px #ff6f00, 67px -330.66667px #2f00ff, -187px 42.33333px #00ffa2, 245px 62.33333px #1e00ff, -198px -320.66667px #1a00ff, -111px -18.66667px #aa00ff, 214px -186.66667px #00ff95, 113px -187.66667px #00e1ff, -114px -38.66667px #ccff00, -34px -73.66667px #9dff00, -76px -92.66667px #00ff95, 117px -401.66667px #00ff15, -82px -142.66667px #00f2ff, 164px -227.66667px #00ff26, 6px -10.66667px #00ff5e, -84px -226.66667px #0051ff, 10px -398.66667px #00fffb, -240px -137.66667px #ff0088, 66px -361.66667px #ff8000, -90px -165.66667px #fb00ff, 158px -406.66667px #ff0400, -23px -23.66667px #3700ff, -210px -157.66667px #ff9d00, -41px -169.66667px #ffc400, -149px -47.66667px #001eff, -213px -403.66667px #ffcc00, -30px 55.33333px #f7ff00, 139px -345.66667px #00d0ff, -32px -136.66667px #ff004d, 66px -301.66667px #ae00ff, 188px -98.66667px #ff1500, 148px -157.66667px #00ff15, 216px -318.66667px #9500ff, 237px -97.66667px #1aff00, 10px -312.66667px #00ffd9, 175px -272.66667px #ee00ff, -168px -180.66667px #ff5900, -179px -233.66667px #00ff4d, 101px -390.66667px #88ff00, 236px -78.66667px #6a00ff, 201px -106.66667px #00ffc4, -132px -68.66667px #ff00e1, -98px -158.66667px #ffd900, 207px -253.66667px #00ffae, 148px -156.66667px #ffa600;
	}
}

@keyframes bang {

	to {
		box-shadow: -72px -241.66667px #00ff09, -52px -310.66667px #4400ff, 231px 51.33333px #00e1ff, -79px -357.66667px #ff00ee, 9px 27.33333px #ff0037, -45px -386.66667px #0037ff, 32px -95.66667px #ff6f00, 67px -330.66667px #2f00ff, -187px 42.33333px #00ffa2, 245px 62.33333px #1e00ff, -198px -320.66667px #1a00ff, -111px -18.66667px #aa00ff, 214px -186.66667px #00ff95, 113px -187.66667px #00e1ff, -114px -38.66667px #ccff00, -34px -73.66667px #9dff00, -76px -92.66667px #00ff95, 117px -401.66667px #00ff15, -82px -142.66667px #00f2ff, 164px -227.66667px #00ff26, 6px -10.66667px #00ff5e, -84px -226.66667px #0051ff, 10px -398.66667px #00fffb, -240px -137.66667px #ff0088, 66px -361.66667px #ff8000, -90px -165.66667px #fb00ff, 158px -406.66667px #ff0400, -23px -23.66667px #3700ff, -210px -157.66667px #ff9d00, -41px -169.66667px #ffc400, -149px -47.66667px #001eff, -213px -403.66667px #ffcc00, -30px 55.33333px #f7ff00, 139px -345.66667px #00d0ff, -32px -136.66667px #ff004d, 66px -301.66667px #ae00ff, 188px -98.66667px #ff1500, 148px -157.66667px #00ff15, 216px -318.66667px #9500ff, 237px -97.66667px #1aff00, 10px -312.66667px #00ffd9, 175px -272.66667px #ee00ff, -168px -180.66667px #ff5900, -179px -233.66667px #00ff4d, 101px -390.66667px #88ff00, 236px -78.66667px #6a00ff, 201px -106.66667px #00ffc4, -132px -68.66667px #ff00e1, -98px -158.66667px #ffd900, 207px -253.66667px #00ffae, 148px -156.66667px #ffa600;
	}
}

@-webkit-keyframes gravity {

	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-moz-keyframes gravity {

	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-o-keyframes gravity {

	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-ms-keyframes gravity {

	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@keyframes gravity {

	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-webkit-keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-moz-keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-o-keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-ms-keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@keyframes position {

	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

